#content-wrapper {
  position:absolute;
  top: 36px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#contents {
  position: relative;
  height: 0px;
}

#main_container {
  top:100px;
}@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,200,300,500,700);

html, body {
  height: 100%;
}


/* Body */

body
{
  margin:0; 
  padding:30px 0 0px 0; 
  font-family:'Roboto',Arial, Helvetica, sans-serif; 
  font-size:14px; 
  font-weight:300;
  height: calc(100% - 32px)!important;
}

/*Header */
#header { background-color:#496d8e; height:36px; border-bottom:1px solid #396084; position:fixed; width:100%; top:0; z-index:999;}
#header h1{ font-size: 15px; color: white; margin-left: 10px;}
#top-control, #top-control > li { margin: 0; padding: 0; list-style: none; float: left;}
#top-control > li { position:relative;}
#top-control > li > a { display: block; width: 37px; height: 37px; background-color: transparent; background-position: center; background-repeat: no-repeat; border-left: 1px solid #587997; border-right: 1px solid #4e7191; text-align:center; line-height:37px; color:white; font-weight:300; font-size:18px;}
#top-control > li.help > a {/*background-image: url(../images/icon-help.png) !important;*/}
#top-control > li.help > a i {border: 2px solid; padding: 3px; border-radius: 60px; width: 26px; height: 26px; box-sizing: border-box;}
#top-control > li.close > a {/*background-image: url(../images/icon-close.png);*/ }
#top-control > li:hover{background-color: #4b96c5;}

/* Help Popup */
.help .popover{bottom:auto; padding-top:20px; padding-bottom:0; left:auto; right:-20px; font-size:12px;}
.help .popover:before { content:""; width: 0; height: 0; border-left: 10px solid transparent; border-right:  10px solid transparent; border-bottom: 10px solid #314c6a; top:10px; right:32px; position:absolute;}
.help .popover .content{ width:340px; background:#FFF; padding:20px 30px; box-sizing:border-box; font-size:16px; box-shadow: 0 0 1px rgba(0,0,0,0.5); border-top:8px solid #284b6c; border-radius:2px;}
.help .popover .content a { display:block; color:#3c68cb; font-weight:normal; padding:3px 0;}

.help .popover .content h1 {  font-size:15px !important; font-weight:normal; padding:0; margin: 0px auto 20px !important; color:#404040!important;  }
.help:hover .popover{ /*display:block;*/ }
#help-tabs, #help-tabs li {padding:0; margin:0; list-style:none;}
#help-tabs li { display:inline-block; margin-right:10px;}
#help-tabs li a{ padding:5px 0; font-size:12px; text-transform:uppercase; color:inherit; font-weight:normal;}
#help-tabs li a:hover {border-bottom:3px solid #3861bc;}
#help-tabs li a.active {border-bottom:3px solid #3861bc;}
.menu-active {background-color: #4b96c5 !important;}

#search-form { margin:20px 0 5px; border:1px solid #dddddd;border-radius:2px;box-shadow: inset 0 0 3px rgba(0,0,0,0.2); background:url(../images/icon-search.png) no-repeat right center; background-position:98%;}
#search-form .search { display:block; width: calc(100% - 30px); padding:8px;  box-sizing:border-box; border:0;}
.help hr {margin:15px 0; background:#ebebeb; height:1px; border:0; }
.help h3 { font-size:12px; font-weight:bold;}
.help h3 .level { display:inline-block; border:2px solid #ccc; padding:2px 3px; text-transform:uppercase; margin-left:4px;}
.help .chat-now {color: #329e28; display:inline-block; margin-left:5px;}

/*Footer*/
#footer { position:fixed; width:100%; bottom:0; background:#1a3047; border-top:1px solid #0a223a; height:49px; padding: 7px 7px 0 7px; box-sizing:border-box; text-align:left; z-index: 10000;}
#footer .button{margin: 0 3px;}
#footer .more {margin-left:20px; position: relative; color: white; padding: 5px; display:inline-block;}
#footer .more:hover .popover {display: block;}
#footer .more .popover {left:50%; margin-left:-52px;}
#footer .white {margin-left:auto;}
#footer .white .popover {margin-left:-75px;}
#footer .white .popover ul{ background:white !important; border:1px solid #ccc; width:150px; box-shadow:none; }
#footer .white .popover ul li { }
#footer .white .popover ul li a {color:#404040; text-align:left !important;  padding-left:15px;}
#footer .white .popover ul li a:hover {color:white;}
#footer .white .popover:after {content: "\f0d7"; font-family: FontAwesome; font-size:20px; color:#ccc; position:relative; top:-8px; }
.submenu:after {content:""; width: 0; height: 0; border-top:6px solid transparent; border-bottom:6px solid transparent; border-left:6px solid #131f27; position:absolute; right:-10px; top:43%; display:none; text-align:left;}
.submenu:hover .submenu-holder{display:block;}

/*Contents*/

#content-holder{padding:10px 20px 50px; overflow-y:auto;  max-width:1170px; margin:auto; }

/*SECTION NAV*/

#section-nav, #section-nav li {list-style: none; padding: 0; margin: 0;}
#section-nav {overflow: auto; padding:40px 10px; background:#f3f5f8;}
#section-nav li{display: inline-block; width: 16.66666666666667%; float: left; }
#section-nav li a {display:inline-block; color: #404040; }
#section-nav li a .icon{ width: 39px; height: 39px; border:1px solid #e3eaf3; float: left; margin-right: 5px; background-repeat: no-repeat;}
#section-nav li a small{display: block; font-size: 10px; color: #cccccc; text-transform: uppercase; margin-top: -3px;}
#section-nav li a h2 {margin: 0; padding: 0; font-size: 14px; line-height: 17px; font-weight: 500;}
#section-nav li a:hover .icon {background-position: 0 bottom; background-color: #3861bc;}
#section-nav li a.active .icon {background-position: 0 bottom; background-color: #3861bc;}
#section-nav li a.complete .icon {background-position: 0 -39px !important; background-color: transparent !important;}

.tick { background-image: url(../images/tick-sprite.png);}
.recording { background-image: url(../images/recording.png);}
.reporting { background-image: url(../images/reporting.png);}
.expanding { background-image: url(../images/expanding.png);}
.extra { background-image: url(../images/extra.png);}

/* ----- TITLE ----*/

.title { border-bottom:1px solid; border-top:1px solid; border-color:#e0e0e0; padding:20px 0;}
.title h2 { margin:5px 0;  font-size:20px;}
.title span  {color:#ff973b;}
.title .section{ border-color:#3861bc; font-size:16px; }
.ins-content .row{ border-bottom:1px solid #dedede; padding:20px 0;}
.section { margin-left: -20px; padding: 0px 0 0px 20px; border-left: 5px solid;}



/* QUESTION LIST */


.question .title { padding:20px 0; }
.question .title h2 {}
.question .title span {}
.question .title .section{ color:#3c3c3c;}
.question .row {padding:20px 0; }

.question .list ul { margin-left:20px;}
.question .list ul li a{ /*background:url(../images/options.png) no-repeat center left;*/ font-size:16px;}
.question .list ul li a:before {content:"\f1db"; font-family:FontAwesome; font-size:18px; margin-right:15px; margin-left:-30px;}
.question .list ul li a:hover { color:#3861bc;}
.correct {color:#8ebd25 !important;}
.correct:before {content:"\f058"!important; font-family: FontAwesome; margin-right: 8px; font-size: 20px;}
.incorrect:before {content:"\f06a"!important; font-family: FontAwesome; margin-right: 8px; font-size: 20px;}
.incorrect{color:#ff0000 !important;}

/* QUESTION LIST INLINE */

.question .list-inline ul, .question .list-inline ul li{ margin: 0 0 5px 0; padding: 0;  list-style: none;}
.question .list-inline ul li { display: inline-block; margin-right: 5px;}
.question .list-inline ul li  a{width: 30px; height: 30px; border:1px solid #ccc; border-radius: 40px; line-height: 30px; text-align: center; display: block;}
.question .list-inline ul li a.correct {background-color:#8ebd25; color: white !important;}
.question .list-inline ul li a.incorrect {background-color:#ff0000; color: white !important;}
.question .list-inline ul li a.incorrect:before, .question .list-inline ul li a.correct:before {content: "" !important; display: none;}



/*Typography*/

h1, h2, h3 ,h4, h5, h6 { font-weight:300; }


/* Global */
 hr {background:#e0e0e0; border:0; height:1px; margin:20px 0; display:block;}
 .col-3 { width:33.33333333333333%; float:left; }
 .col-2-3 { width:66.66666666666667%; float:left;}
 .col-2 {width:49%; display:inline-block;  vertical-align:top;}

.blue-link {color: blue!important;}

 #page-title { border-bottom:1px solid #f1f1f1; padding-bottom:20px; margin-bottom:20px;}
 #page-title h1 {font-size:24px; }
 #page-title .title{width:20%; display:inline-block; border:0;}
 #page-title .status {display:inline-block; text-transform:uppercase; color:inherit; border-left:5px solid #a5d001; padding-left:15px;}
 
 .text-28 {font-size:28px; font-weight:normal;}
 
 * {outline:0;}
 a {text-decoration: none; color: inherit; /*transition: 0.35s;*/ position: relative;}
.push-right {float: right;}
.push-left {float: left;}
.clearfix{clear: both;}
.no-border{border:0;}
.no-bottom-border{ border-bottom:0;}
.align-left{ text-align:left !important;}

 .button{ 
    color:rgba(255,255,255,0.7); padding:7px 15px; border-radius:3px; display: inline-block;
    background: #3f72cf;
    background: #3f72cf\9 !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmNzJjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDViYzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #3f72cf 0%, #305bc1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f72cf), color-stop(100%,#305bc1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3f72cf 0%,#305bc1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3f72cf 0%,#305bc1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3f72cf 0%,#305bc1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3f72cf 0%,#305bc1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f72cf', endColorstr='#305bc1',GradientType=0 ); /* IE6-8 */

}
.button-light-blue{
  
  background: #527c9f; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzUyN2M5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZTVlODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #527c9f 1%, #3e5e80 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#527c9f), color-stop(100%,#3e5e80)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #527c9f 1%,#3e5e80 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #527c9f 1%,#3e5e80 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #527c9f 1%,#3e5e80 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #527c9f 1%,#3e5e80 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#527c9f', endColorstr='#3e5e80',GradientType=0 ); /* IE6-8 */

  }
.button-white {
  border:1px solid #ddd;
  color:inherit;
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffffff 1%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 1%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 1%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
  }
.button-white:hover {color:rgba(0,0,0,1) !important;}


.button:hover{color:white;}

/* -- LIST ----*/

.list ul {padding: 0;}
.list ul li { list-style:none;   margin:0px 0; }
.list ul li a{ padding:5px 0 5px 40px; line-height:33px; /*background:url(../images/orange-tick.png) no-repeat center left;*/}

/*  ----  Simple List -----  */

.simple-list {margin:30px 0;}
.simple-list li{margin-bottom:15px;}




/*  ----   Pop Over ------*/

.popover {position: absolute; bottom:20px; left: 0; padding-bottom: 20px; display: none; z-index:999;}
.popover > ul { margin: 0; padding: 0; width: 105px; background: #131f27;  border:4px solid #131f27; box-shadow: 0 0 5px rgba(0,0,0,0.8);}
.popover > ul > li {position: relative; padding: 0; margin: 0; list-style: none;}
.popover > ul > li > a { display: block; padding: 5px; text-align: center; line-height: 28px;}
.popover > ul > li:hover > a{background-color: #4065b5 !important;} 
.popover > ul > li:hover.submenu:after{display:block;}



/* ----  Submenu -----------*/

.submenu-holder {display:none; position:absolute; left: 100%; padding-left:13px; bottom:0; height:320px;}
.submenu-holder .submenu-content {background:#131f27; width:280px;  box-sizing:border-box; height:100%;}
.submenu-holder .submenu-content h1{ font-size:24px; line-height:70px; padding:0 20px; margin:0; }
.submenu-holder .submenu-content .links {height:calc(100% - 70px); background:#2c3237; display:block; padding:10px 0 10px; overflow:auto; box-sizing:border-box; }
.submenu-holder .submenu-content .links li { list-style:none; color:#bbb; padding-left:20px; padding-right:20px;}
.submenu-holder .submenu-content .links li:hover { background-color:#3f64b4; }
.submenu-holder .submenu-content .links li:hover a {color:white;}
.submenu-holder .submenu-content .links li a{ display:block; padding:8px 0;}


/* ----  Main Menu -----------*/

.main-menu .submenu-holder { bottom:-118px;}

.glossary .submenu-holder { bottom:-80px;}
.glossary .submenu-holder .submenu-content .links { height:144px;}
.glossary .submenu-holder .submenu-content .text {padding:10px 20px;}
.glossary .submenu-holder .submenu-content .text p{ margin-left:15px;}
.glossary .submenu-holder .submenu-content .arrow-right{ border-left-color:white; float:left; margin-top:17px;}

.guides .submenu-holder { bottom:-42px;}
.guides .submenu-holder .submenu-content { padding:0 20px;}
.guides .submenu-holder .submenu-content h1 {padding:0;}
.guides .submenu-holder .submenu-content h2 {font-size:15px;}
.guides .submenu-holder .submenu-content .download{ display:block; margin-top:10px; color:#b7c1d6;}
.download:hover {color:white !important;}


.topics .submenu-holder { bottom:-4px;}
.topics .submenu-holder span {float:right; margin-top:6px;}


/* ----  Arrow -----------*/

.arrow-up   { width: 0; height: 0; border-left: 5px solid transparent;  border-right:  6px solid transparent; border-bottom: 6px solid #131f27;} 
.arrow-down { width: 0; height: 0; border-left: 6px solid transparent;  border-right:  6px solid transparent; border-top:    6px solid #131f27; margin: auto;}
.arrow-right{ width: 0; height: 0; border-top:  6px solid transparent;  border-bottom: 6px solid transparent; border-left:   6px solid #131f27;}
.arrow-left { width: 0; height: 0; border-top:  6px solid transparent;  border-bottom: 6px solid transparent;   border-right:  6px solid #131f27;}
  

/* ----  Player Controls -----------*/

#play-overlay-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.play-overlay-wrapper-fade {
  background-color: #C9E7F2;
  opacity: 0.7;
}

#play-overlay {
  position: absolute;
  font-family: FontAwesome;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  color: white;
  text-align: center;
  background-color: #1A3047;
  margin-left: -5%;
  margin-top: -5%;
  font-size: 46px;
}

#play-overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -21px;
}

.player-controls {}
.player-controls .control{color:inherit; color:white; line-height:35px; font-size:24px; margin:0 8px;}
.player-controls .info{margin:0 10px; display:inline-block;}
.player-controls .pause, .player-controls .play {margin:0 10px; width: 31px; }
.player-controls a:hover {color:#4b96c5;}
.player-controls #vol {display:inline-block; margin-right:20px;}
.player-controls #vol .bar{ display:inline-block; width:5px; height:16px; background:white;}
.one{height:4px !important;}
.two{height:8px !important;}
.three{height:12px !important;}
.four{}

.player-controls .more span {display:inline-block; width:100px; text-align:center; line-height:38px;}
.player-controls .more {padding:0 !important;}

.prev-slide:before, .next-slide:before, .play:before, .pause::before, .volume-up:before, .volume-off:before { font-family:FontAwesome;}

.prev-slide:before { content: "\f048";}
.next-slide:before {content: "\f051";}
.play:before{content: "\f04b";}
.pause:before{content: "\f04c";}
.volume-up:before{content: "\f028"; font-size:30px; }
.volume-off:before{content: "\f026"; font-size:30px; }





/* ----  Page My Progress -----------*/

.progress-menu {background:none !important;  padding-top:0 !important;} 
.progress-menu li{ display:block !important; width:auto !important; float:none !important;  margin-bottom:25px !important;}
.progress-menu li .q-text {color:#a2a2a2; font-size:12px;}
.progress-menu li a.complete .q-text, .progress-menu li a.active .q-text {color:#000; font-weight:normal;}
.progress-menu li h4 { font-weight:500; display:block; margin:0; padding:0;}
.progress-menu li h4.not-taken {color:#a2a2a2; font-weight:300;}

.status { color:#ea7600;}
.status h2 {text-transform:uppercase; margin-top:0; font-weight:500;}
.status h2 i {margin-right: 10px; margin-left: -35px;}
.status p span{font-weight:500;}


/* ----  Modal Window -----------*/

#modal-wrapper { background:rgba(0,0,0,0.7); position:fixed; left:0; right:0; top:0; bottom:0; z-index:9999;}
#modal-wrapper .msg-box {min-width:350px; min-height:213px; left:50%; margin-left:-150px; top:30%; background:white; position:absolute; padding:30px; box-sizing:border-box; border-radius:2px; text-align:center;}
#modal-wrapper .msg-box h1 { font-size: 22px; font-weight: bold; margin: 0; }
#modal-wrapper .msg-box .button {padding:7px 20px !important;}
#modal-wrapper .msg-box .button-white {color:#3965ce!important;}
#modal-wrapper .passed  {width:700px!important; margin-left: -350px!important; top: 20%!important; text-align: left!important; }

/* incase of knowlege check */

.knowledge-check .msg-box{left:0!important; right:0; top:50px!important; bottom:50px; text-align: left!important; margin: auto!important; font-weight: 400; overflow-y: auto!important; padding:0 50px !important;}
.knowledge-check .msg-box .simple-list {list-style: none!important; padding: 0; }
.list-margin{margin: 0 0 0 20px;}


/* ----  Course  -----------*/

/*floating Menu*/

#menu-right {width:450px;bottom:50px; position:fixed; top:37px; right:-450px; transition:all 0.5s;  overflow-y:auto; padding:20px; box-sizing:border-box;  border-left:1px solid #e2e3e6;}
#menu-right .content {background:white; padding:20px;}
#menu-right .content h1 { font-size:20px;}
#menu-right .content p:before{content: "\f0da"; font-family: FontAwesome; position:absolute; margin-left:-10px; margin-top:3px;}
#menu-right .list-menu, #menu-right .list-menu li {list-style:none; padding:0; margin:0; font-size:12px;}
#menu-right .list-menu {margin-top:20px; border-top:1px solid #f1f1f1;}
#menu-right .list-menu li a { display:block; border-bottom:1px solid #f1f1f1; padding:0 5px; z-index:0; line-height:38px;}
#menu-right .list-menu li a span { font-weight: 500; float: right;}
#menu-right .list-menu li a:hover { background-color:#3654b7; color:white;}
#tab-wrapper .list-wrap {height: auto!important;}

.open-menu {right:0px!important;}
.open-menu-content{margin-right:470px !important;}
.block {display:block!important;}


/*course*/

.course {background-color:#f0f2f6;}
.course #content-holder {max-width:none !important; border:1px solid; transition: margin-right 0.5; -webkit-transition: margin-right 0.5s; margin:0;
    height: calc(100% - 60px); padding-left: 0; padding-right: 0;
}

.height_hundred {height: 100%;}


.cert-table {width:1000px; margin: auto; border:2px ridge #ccc; padding:20px; }

.kc-parts {
    display: inline-block;
    margin-right: 30px;
}

.kc-part-question {
    float: left;
    width: 200px;
}

/*    -----------------  Forms ----------------------*/

.form-control { display: block; width: 90%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555;
    background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; margin:15px 0;  }
.radio, .checkbox   { position: relative; display: block; min-height: 20px; margin-top: 10px; margin-bottom: 10px; }
.horizontal-form .checkbox, .horizontal-form .radio { display:inline-block; margin-right:20px;}
inputs:-webkit-input-placeholder { color: #b5b5b5; }
inputs-moz-placeholder {  color: #b5b5b5; }

.inputs {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    border: 1px solid #C8C8C8;
    color: #777;
    max-width:150px;
    padding: 10px;

}

.inputs:focus {
    -webkit-box-shadow: 0 0 2px #3f72cf inset;
    -moz-box-shadow: 0 0 2px #3f72cf inset;
    -ms-box-shadow: 0 0 2px #3f72cf inset;
    -o-box-shadow: 0 0 2px #3f72cf inset;
    box-shadow: 0 0 2px #3f72cf inset;
    background-color: #FFF;
    border: 1px solid #3f72cf;
    outline: none;
}


label {
    display:inline;
}

.regular-checkbox {
    display:none;
}

.regular-checkbox + label {
    /*background-color:#fafafa;*/
    /*border:1px solid #cacece;*/
    /*box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);*/
    padding:7px 5px 7px 30px;
    /*border-radius:3px;*/
    display:inline-block;
    position:relative;
    font-size:14px;
}

.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {

}

.regular-checkbox:checked + label {
    /*background-color:#fff;*/
    /*border:1px solid #d9e3f5;*/
    /*box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05),inset 15px 10px -12px rgba(255,255,255,0.1);*/
    color:#3f72cf;
}


.regular-checkbox + label:after {
    content:'';
    font-size:16px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#3f72cf;
    padding:3px;
    width:17px;
    height:17px;
    border-radius:3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.regular-checkbox:checked + label:after {
    content:'\2714';
    font-size:20px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#3f72cf;
    border:none;
    padding:0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    line-height: 11px;

}

.correct-checkbox, .correct-checkbox-category  {
    display:none;
}

.correct-checkbox + label, .correct-checkbox-category + label  {
    /*background-color:#fafafa;*/
    /*border:1px solid #cacece;*/
    /*box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);*/
    padding:7px 5px 7px 30px;
    /*border-radius:3px;*/
    display:inline-block;
    position:relative;
    font-size:14px;
}

.correct-checkbox + label:active,
.correct-checkbox:checked + label:active {

}

.correct-checkbox:checked + label {
    color:#8ebd25;
}

.correct-checkbox-category + label {
    color:#8ebd25;
    top: -8px;
}


.correct-checkbox + label:after, .correct-checkbox-category + label:after {
    content:'';
    font-size:16px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#8ebd25;
    padding:3px;
    width:17px;
    height:17px;
    border-radius:3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.correct-checkbox:checked + label:after, .correct-checkbox-category:checked + label:after   {
    content:'\2714';
    font-size:20px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#8ebd25;
    border:none;
    padding:0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    line-height: 11px;

}


.incorrect-checkbox, .incorrect-checkbox-category   {
    display:none;
}

.incorrect-checkbox + label {
    /*background-color:#fafafa;*/
    /*border:1px solid #cacece;*/
    /*box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);*/
    padding:7px 5px 7px 30px;
    /*border-radius:3px;*/
    display:inline-block;
    position:relative;
    font-size:14px;
}

.incorrect-checkbox-category + label {
    /*background-color:#fafafa;*/
    /*border:1px solid #cacece;*/
    /*box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0 -15px 10px -12px rgba(0,0,0,0.05);*/
    padding:7px 5px 7px 30px;
    /*border-radius:3px;*/
    display:inline-block;
    position:relative;
    font-size:14px;
    top: -8px;
}

.incorrect-checkbox + label:active,
.incorrect-checkbox:checked + label:active {

}

.incorrect-checkbox:checked + label {
    color:#ff0000;
}

.incorrect-checkbox-category:checked + label {
    color:#ff0000;
    top: -8px;
}


.incorrect-checkbox + label:after, .incorrect-checkbox-category + label:after {
    content:'';
    font-size:16px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#ff0000;
    padding:3px;
    width:17px;
    height:17px;
    border-radius:3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.incorrect-checkbox:checked + label:after, .incorrect-checkbox-category:checked + label:after {
    content:'\2714';
    font-size:20px;
    position:absolute;
    top:8px !important;
    left:7px;
    color:#ff0000;
    border:none;
    padding:0;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    line-height: 11px;

}


/* RADIO */

.regular-radio {
    display:none;
}

.regular-radio + label {
    -webkit-appearance:none;
    /* background-color:#fafafa;
     border:1px solid #cacece;
     box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 -15px 10px -12px rgba(0,0,0,0.05);*/
    padding:7px;
    border-radius:50px;
    display:inline-block;
    position:relative;
    margin-right: 10px;
    vertical-align: middle;
    cursor:pointer;
    font-size:16px;
}

.regular-radio + label:after
{
    width:14px; height:14px;  border:1px solid #cacece; content:""; display:block; position:absolute; border-radius:20px;
    left: -14px; top: 8px;
}


.regular-radio:checked + label:after {
    content:'';
    width:10px;
    height:10px;
    border-radius:50px;
    position:absolute;
    top:8px;
    background:#3f72cf;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    text-shadow:none;
    left:-14px;
    font-size:32px;
    border: 3px solid white;
    box-shadow: 0 0 1px;

}

.regular-radio:checked + label {
    /*    background-color:#e9ecee;
        color:#d9e3f5;
        border:1px solid #d9e3f5;*/

}
.regular-radio + label:active,
.regular-radio:checked + label:active {
    box-shadow:0 1px 2px rgba(0,0,0,0.05),inset 0 1px 3px rgba(0,0,0,0.1);
}



/* Dropdown List */

.dropdown
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #FFF, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #C8C8C8;
    margin: 0 0 10px;
    width:auto;
    min-width:150px;
}
.dropdown:focus {
    -webkit-box-shadow: 0 0 2px #3f72cf inset;
    -moz-box-shadow: 0 0 2px #3f72cf inset;
    -ms-box-shadow: 0 0 2px #3f72cf inset;
    -o-box-shadow: 0 0 2px #3f72cf inset;
    box-shadow: 0 0 2px #3f72cf inset;
    background-color: #FFF;
    border: 1px solid #3f72cf;
    outline: none;
}

select[multiple], select[size] {
    height: auto;
}

.no-padding {
    padding:0;
}

.bottom-border{
    border-bottom: 1px solid #e0e0e0;
}

.kc-instructions {
    margin-top: 5px;
}

.kc-submit-btn {
    margin: 10px 0;
}

.border-wrong {
    border: solid 1px #ff0000;
    padding: 20px;
    min-width: 80px;
    max-width: 500px;
}

.border-correct{
    border: solid 1px #8ebd25;
    padding: 20px;
    min-width: 80px;
    max-width: 500px;
}

.list-table table tr td
{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}

.list-table table tr td .regular-checkbox + label:after
{
    top:0!important;
}

.category-checkbox-label {
    width: 200px;
    padding-right: 8px;
}

.category-checkbox-categories {
    width: 300px;
}

.category-checkbox-categories span {
    width: 110px;
    float: left;
}

.category-checkbox-feedback {
    width: auto;
}

.time {
  color: white;
  margin-right: 15px;
}

@media print {
    body * {
        visibility: hidden;
        background: white;
        box-shadow: none;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    #content-holder , #menu-right{
 border: 0;
 }
 }

 .time-save-and-exit {
 margin-top: 2px;
 }

 #playbarWrapper {
 width: 100%;
 height: 41px;
 display: inline-block;
 }

 #playbar {
 position: absolute;
 left: 270px;
 top: -97px;
 height: 135px;
 width: calc(100% - 493px);
 }